<head>
    <title>Home</title>
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
</head>
<body>
    
</body>
<footer style="height: 175px">
    
</footer>