<html>
<head>
    <title>title</title>
</head>
<body>
    <div>
        <ul>
            <li>@Html.ActionLink("Protective Earthing", "Index", "ProtectiveEarthing")</li>
        </ul>
    </div>
</body>
</html>
