<html>
    <head>
        <title>Calc</title>
    </head>
    <body>
        <div>
            <h1>Nick</h1>
        </div>
    </body>
    <script>
        $(document).ready(function() {
            studynung.page.ProtectiveEarthing.calc.init();
        });
    </script>
</html>