<html>
    <head>
        <title>Menu</title>
    </head>
    <body>
        <div>
            <input type="button" value="Теоретичні відомості" id="btnDocs"/>
            <input type="button" value="Перейти до розрахунку" id="btnCalc"/>
        </div>
    </body>
    <script>
        $(document).ready(function() {
            studynung.page.ProtectiveEarthing.initMenu();
        });
    </script>
</html>