<div class="study-center">
    <h1>Розрахунок захисного заземлення</h1>
    <input type="button" value="Розпочати" id="btnStart" />
</div>
<script>
    $(document).ready(function () {
        studynung.page.ProtectiveEarthing.initTitle();
    });
</script>
