<html>
    <head>
        <title>title</title>
    </head>
    <body>
        <div id="baseContent">
            
        </div>
    </body>
    <script>
        $(document).ready(function () {
            studynung.page.ProtectiveEarthing.loadTitle();
        });
    </script>
</html>