<html>
    <head>
        <title>Menu</title>
    </head>
    <body>
        <div>
            <input type="button" value="Test"/>
            <a>Теоретичні відомості</a>
            <a>Перейти до розрахунку</a>
        </div>
    </body>
</html>